<div class="rat-concurrence">
  <%- concurrence.each_with_index do |child, index|  %>
    <%= render :partial => child.class.to_s.underscore,
               :layout => child.layout,
               :object => child,
               :locals => {:leaf => child} %>
    <%= render :partial => 'ruote_trail/concurrence_spacer' unless index == concurrence.size - 1 %>
  <%- end %>
</div>