<div class="flo-bubble">
  <div class="flo-task-header">
    <%= flo_task.current_state %>
    <b><%= flo_task.name %></b>
  </div>
  <div class="flo-task">
    <pre>
      <%= flo_task.to_yaml %>
    </pre>
  </div>
</div>
