<div class="rat-bubble">
  <div class="rat-task-header">
    <%= flo_task.current_state %>
    <b><%= flo_task.name %></b>
  </div>
  <div class="rat-task">
    <pre>
      <%= flo_task.to_yaml %>
    </pre>
  </div>
</div>
