<!DOCTYPE html>
<html>
<head>
  <title>RuoteTrail</title>
  <%= stylesheet_link_tag    "ruote-trail-on-rails/application", :media => "all" %>
  <%= javascript_include_tag "ruote-trail-on-rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
