<div class="rat-bubble">
  <div class="rat-part-header">
    <%= participant.current_state %>
    <b><%= participant.name %></b>
    for <%= participant.scope %>
  </div>
  <div class="rat-part">
    <pre>
      <%= participant.to_yaml %>
    </pre>
  </div>
</div>
