<!DOCTYPE html>
<html>
<head>
  <title>Floristry</title>
  <%= stylesheet_link_tag    "floristry/application", :media => "all" %>
  <%= javascript_include_tag "floristry/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
