<div class="flo-cron">
  Cron "<%= flo_cron.atts.keys[0] %>"
  <%- flo_cron.each_with_index do |child, index| %>
    <%= render :partial => child.class.to_s.underscore,
               :layout => child.layout,
               :object => child,
               :locals => {:leaf => child} %>
    <%= render :partial => 'floristry/sequence_spacer' unless index == flo_cron.size - 1 %>
  <%- end %>
</div>