<div class="flo-bubble">
  <div class="flo-task-header">
    <%= flo_task.current_state %>
    <b><%= flo_task.name %> (<%= flo_task.atts[0] %>)</b>
  </div>
  <div class="flo-task">
    <pre>
      <%= flo_task.payload.except('scoped', 'procedure_id') %>
    </pre>
  </div>
</div>
