<div class="rat-bubble">
  <div class="rat-part-header">
    <%= flo_participant.current_state %>
    <b><%= flo_participant.name %></b>
    for participant.scope.to_s
  </div>
  <div class="rat-part">
    <pre>
      <%= flo_participant.to_yaml %>
    </pre>
  </div>
</div>
