<div class="rat-sequence">
  <%- floSequence.each_with_index do |child, index| %>
    <%= render :partial => child,
               :layout => child.layout,
               :object => child,
               :locals => {:leaf => child},
               :as => child.as_variable_name
      %>
    <%= render :partial => 'sequence_spacer' unless index == floSequence.size - 1 %>
  <%- end %>
</div>