[
  { point: execute, consumed: true, nid: '0', require: 'pollen/pollen.rb', class: 'LaunchedPollenHook' },
  { point: return, consumed: true, require: 'pollen/pollen.rb', class: 'ReturnedPollenHook' },
  { point: terminated, consumed: true, require: 'pollen/pollen.rb', class: 'TerminatedPollenHook' },
]
